<%= render 'shared/banner' %>

<h1 class="text-center">Cocktails</h1>

<div class="container" style="background-color: #F4F4F4">
  <div class="row">
    <% @cocktails.each do |drink| %>
    <div class="col-xs-12 col-sm-3">
      <%= render 'shared/card', drink: drink %>
      <div class="buttons" style="display: flex">
        <%= link_to cocktail_path(drink) do %>
        <i class=" fa fa-glass"></i>
        <% end %>
        <%= link_to cocktail_path(drink), method: :delete, data: { confirm: 'Are you sure?' } do %>
        <i class="fa fa-trash"></i>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
