.container {
  padding: 100px;
}

#cocktail_image {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
