.container {
  padding: 100px;
}

#cocktail_image {
  background-repeat: no-repeat;
  background-size: cover;
}

// #form_show {
//   background-color: white;
//   opacity: 0.1;
// }

.btn.btn-primary {
  margin-top: 10px;
}
