.container {
  padding: 100px;
}

#cocktail_image {
  background-repeat: no-repeat;
  background-size: cover;
}

#form_show {
  margin-top: 20px;
}

.btn.btn-primary {
  margin-top: 10px;
}

#show_summery {
 border: bold;
 border-color: white;
border-style: solid;
margin-bottom: 50px;
width: 300px; margin:0 auto;
}

.btn-danger.btn-xs {
  opacity: 0.7;
}
