<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://unsplash.it/422/300');">
  <div class="card-description align-middle">
    <h2><%= cocktail.name %></h2>
  </div>
  <a class="card-link" href="#" ></a>
</div>
