.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.card-description {
  position: absolute;
  bottom: 40px;
  left: 10px;
  text-align: center;
  vertical-align: middle;
}
.card-description h2 {
  font-size: 24px;
  text-align: center;
  vertical-align: middle;
}

